<%= render 'shared/header' %>

<div class="container">
  <div class="top-page-menu">
    <div class="row top-search-form">
      <%= form_with(url: search_teams_path, local: true, method: :get) do |form| %>
        <%= form.text_field :keyword, class: "search-form", placeholder: "チーム名を入力してください" %>
        <%= form.submit "検索", class: "btn btn-search"%>
      <% end %>
    </div>
    <div class="row top-team-index">
      <%= link_to "チーム一覧", teams_path, class: "btn btn-top-team-index" %>
    </div>
  </div>
    <div class="row">
      <% @teams.each do |team| %>
        <div class="card col-6" style="width: 30rem;">
          <%= link_to image_tag('school.png', width: "100%", height: "180px"), team_path(team) %>
          <div class="card-body">
            <h5 class="card-title team-name"><%= team.team_name %></h5>
            <p class="card-text team-attribute"><%= team.team_attribute.name %></p>
            <p class="card-text team-activity-base"><%= team.activity_base.name %></p>
            <%= link_to "詳細", team_path(team), class: "btn btn-show" %>
          </div>
        </div>
      <% end %>
    </div>
</div>

<%= render 'shared/footer' %>