<%= render 'shared/header' %>

<div class="container mt-2">

  <h4>打者個人成績</h4>
  <div class="overflow-auto">
    <table class="table table-sm text-center text-nowrap">
      <thead class="thead-light">
        <tr>
          <th scope="col">背番号</th>
          <th scope="col">選手名</th>
          <th scope="col">試合数</th>
          <th scope="col">打席</th>
          <th scope="col">打数</th>
          <th scope="col">安打</th>
          <th scope="col">打率</th>
          <th scope="col">打点</th>
          <th scope="col">得点</th>
          <th scope="col">出塁率</th>
          <th scope="col">盗塁</th>
          <th scope="col">二塁打</th>
          <th scope="col">三塁打</th>
          <th scope="col">本塁打</th>
          <th scope="col">長打率</th>
          <th scope="col">OPS</th>
          <th scope="col">三振</th>
          <th scope="col">四球</th>
          <th scope="col">死球</th>
          <th scope="col">犠打</th>
          <th scope="col">犠飛</th>
          <th scope="col">併殺</th>
          <th scope="col">敵失</th>
          <th scope="col">失策</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= player.number %></td> 
            <td><%= link_to player.name, team_player_path(@team.team_url, player) %></td>
            <td><%= @b_stats.where(player_id: player.id).count %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:at_standing) %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:at_hitting) %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:hit) %></td>
            <td><%= format('%.3f', @b_stats.where(player_id: player.id).sum(:hit) / @b_stats.where(player_id: player.id).sum(:at_hitting).to_f) %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:run_batted_in) %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:run) %></td>
            <td><%= %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:stolen_base) %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:double) %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:triple) %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:homerun) %></td>
            <td><%= %></td>
            <td><%= %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:strikeout) %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:walk) %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:hit_by_pitch) %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:sacrifice_bunt) %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:sacrifice_fly) %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:double_play) %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:opponent_error) %></td>
            <td><%= @b_stats.where(player_id: player.id).sum(:fielding_error) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot class="thead-light">
        <tr>
          <th scope="col">背番号</th>
          <th scope="col">選手名</th>
          <th scope="col">試合数</th>
          <th scope="col">打席</th>
          <th scope="col">打数</th>
          <th scope="col">安打</th>
          <th scope="col">打率</th>
          <th scope="col">打点</th>
          <th scope="col">得点</th>
          <th scope="col">出塁率</th>
          <th scope="col">盗塁</th>
          <th scope="col">二塁打</th>
          <th scope="col">三塁打</th>
          <th scope="col">本塁打</th>
          <th scope="col">長打率</th>
          <th scope="col">OPS</th>
          <th scope="col">三振</th>
          <th scope="col">四球</th>
          <th scope="col">死球</th>
          <th scope="col">犠打</th>
          <th scope="col">犠飛</th>
          <th scope="col">併殺</th>
          <th scope="col">敵失</th>
          <th scope="col">失策</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <p class="text-muted">横にスクロールするとさらに細かい情報を確認できます</p>

  <div class="w-100 m-3"></div>

  <h4>投手個人成績</h4>
  <div class="overflow-auto">
    <table class="table table-sm text-center text-nowrap">
      <thead class="thead-light">
        <tr>
          <th scope="col">背番号</th>
          <th scope="col">選手名</th>
          <th scope="col">試合数</th>
          <th scope="col">勝数</th>
          <th scope="col">負数</th>
          <th scope="col">セーブ</th>
          <th scope="col" colspan="2">投球回</th>
          <th scope="col">失点</th>
          <th scope="col">自責点</th>
          <th scope="col">防御率</th>
          <th scope="col">勝率</th>
          <th scope="col">完投</th>
          <th scope="col">完封</th>
          <th scope="col">被安打</th>
          <th scope="col">被本塁打</th>
          <th scope="col">奪三振</th>
          <th scope="col">奪三振率</th>
          <th scope="col">与四死球</th>
          <th scope="col">ボーク</th>
          <th scope="col">暴投</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= player.number %></td> 
            <td><%= link_to player.name, team_player_path(@team.team_url, player) %></td>
            <td><%= @p_stats.where(player_id: player.id).count %></td>
            <td><%= @p_stats.where(player_id: player.id, win_lose_or_save: "勝").count %></td>
            <td><%= @p_stats.where(player_id: player.id, win_lose_or_save: "負").count %></td>
            <td><%= @p_stats.where(player_id: player.id, win_lose_or_save: "S").count %></td>
            <td colspan = "2"><%= @p_stats.where(player_id: player.id).sum(:inning) + (@p_stats.where(player_id: player.id).sum(:part_of_inning) / 3) %>回<%= @p_stats.where(player_id: player.id).sum(:part_of_inning) % 3 %>/3</td>
            <td><%= @p_stats.where(player_id: player.id).sum(:runs_allowed) %></td>
            <td><%= @p_stats.where(player_id: player.id).sum(:earned_run) %></td>
            <td><%= format('%.2f', @p_stats.where(player_id: player.id).sum(:earned_run) * 7 / @p_stats.where(player_id: player.id).sum(:inning).to_f) %></td>
            <td><%= format('%.3f', @p_stats.where(player_id: player.id, win_lose_or_save: "勝").count / (@p_stats.where(player_id: player.id, win_lose_or_save: "勝").count + @p_stats.where(player_id: player.id, win_lose_or_save: "負").count).to_f) %></td>
            <td><%= @p_stats.where(player_id: player.id, complete_game: "○").count %></td>
            <td><%= @p_stats.where(player_id: player.id, shutout: "○").count %></td>
            <td><%= @p_stats.where(player_id: player.id).sum(:hit_allowed) %></td>
            <td><%= @p_stats.where(player_id: player.id).sum(:homerun_allowed) %></td>
            <td><%= @p_stats.where(player_id: player.id).sum(:strikeout) %></td>
            <td><%= format('%.2f', @p_stats.where(player_id: player.id).sum(:strikeout) * 7 / @p_stats.where(player_id: player.id).sum(:inning).to_f) %></td>
            <td><%= @p_stats.where(player_id: player.id).sum(:base_on_ball_or_hit_by_pitch) %></td>
            <td><%= @p_stats.where(player_id: player.id).sum(:balk) %></td>
            <td><%= @p_stats.where(player_id: player.id).sum(:wild_pitch) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot class="thead-light">
        <tr>
          <th scope="col">背番号</th>
          <th scope="col">選手名</th>
          <th scope="col">試合数</th>
          <th scope="col">勝数</th>
          <th scope="col">負数</th>
          <th scope="col">セーブ</th>
          <th scope="col" colspan="2">投球回</th>
          <th scope="col">失点</th>
          <th scope="col">自責点</th>
          <th scope="col">防御率</th>
          <th scope="col">勝率</th>
          <th scope="col">完投</th>
          <th scope="col">完封</th>
          <th scope="col">被安打</th>
          <th scope="col">被本塁打</th>
          <th scope="col">奪三振</th>
          <th scope="col">奪三振率</th>
          <th scope="col">与四死球</th>
          <th scope="col">ボーク</th>
          <th scope="col">暴投</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <p class="text-muted">横にスクロールするとさらに細かい情報を確認できます</p>
  
</div>

<%= render 'shared/footer' %>