<%= render 'shared/header' %>

<div class="container mt-3">

  <h2>検索結果</h2>
    <div class="row">
      <% @teams.each do |team| %>
        <div class="card col-lg-6">
          <% if team.image.present? %>
          <%= link_to image_tag(team.image, width: "100%", height: "180px", class: "mt-2"), team_path(team.team_url) if team.image.attached? %>
        <% else %>
          <%= link_to image_tag('default_team.jpg', width: "100%", height: "180px", class: "mt-2"), team_path(team.team_url) %>
        <% end %>
          <div class="card-body">
            <h5 class="card-title team-name"><%= team.team_name %></h5>
            <p class="card-text team-attribute"><%= team.team_attribute.name %></p>
            <p class="card-text team-activity-base"><%= team.activity_base.name %></p>
            <%= link_to "詳細", team_path(team.team_url), class: "btn btn-show" %>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @teams %>
</div>

<%= render 'shared/footer' %>