<%= render 'shared/header' %>

<div class="container mt-3">
  <%# <% チームトップ画像 %>
  <% if @team.image.present? %>
    <div style="height: 400px;">
      <%= image_tag(@team.image, width: "100%", height: "100%") if @team.image.attached?  %>
    </div>
  <% else %>
    <div style="height: 400px;">
      <%= image_tag('default_team.jpg', width: "100%", height: "100%") %>
    </div>
  <% end %>
  <%# <% //チームトップ画像 %>
  <div class="row">
    <h2 class="mt-3"><%= @team.team_name %></h2>
  <%# 編集とかメニュー系 %>
  <% if @team == current_team %>
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fas fa-baseball-ball fa-lg" style="color: darkblue"></span>
      </button>
      <div class="dropdown-menu">
        <%= link_to "チーム編集", edit_team_path(@team.team_url), class: "dropdown-item" %>
        <%= link_to "選手新規登録", new_team_player_path(@team.team_url), class: "dropdown-item" %>
        <%= link_to "選手一覧", team_players_path(@team.team_url), class: "dropdown-item" %>
        <%= link_to "試合結果登録", new_team_game_path(@team.team_url), class: "dropdown-item" %>
        <%= link_to "試合結果一覧", team_games_path(@team.team_url), class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to "チーム削除", team_path(@team.team_url), class: "dropdown-item", method: :delete, data: { confirm: "本当に削除してもいいですか？" } %>
      </div>
    </div>
  <% else %>
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fas fa-baseball-ball fa-lg" style="color: darkblue"></span>
      </button>
      <div class="dropdown-menu">
        <%= link_to "選手一覧", team_players_path(@team.team_url), class: "dropdown-item" %>
        <%= link_to "試合結果一覧", team_games_path(@team.team_url), class: "dropdown-item" %>
      </div>
    </div>
  <% end %>
  <%# //編集とかメニュー系 %>
  </div>
  
  <div class="row">
    <%# チームプロフィール %>
    <div class="col-lg-6">
      <% if @team == current_team %>
        <h5><%= link_to "チームプロフィール", edit_team_path(@team.team_url), class: "d-block bg-dark text-white p-2" %></h5>
      <% else %>
        <h5 class="d-block bg-dark text-white p-2">チームプロフィール</h5>
      <% end %>
      <table class="table text-center">
        <tr>
          <th scope="row" style="width: 200px;">チーム名</th>
          <td><%= @team.team_name %></td>
        </tr>
        <tr>
          <th scope="row">チーム名（カナ）</th>
          <td><%= @team.team_name_kana %></td>
        </tr>
        <tr>
          <th score="row">活動拠点</th>
          <td><%= @team.activity_base.name %></td>
        </tr>
        <tr>
          <th score="row">チーム区分</th>
          <td><%= @team.team_attribute.name %></td>
        </tr>
        <tr>
          <th score="row">チームレベル</th>
          <td><%= @team.team_level.name %></td>
        </tr>
        <tr>
          <th score="row">チーム平均年齢</th>
          <td><%= @team.team_player_age.name %></td>
        </tr>
        <tr>
          <th score="row">メンバー野球歴</th>
          <td><%= @team.team_player_history.name %></td>
        </tr>
        <tr>
          <th score="row">所属リーグ・団体・連盟等</th>
          <td><%= simple_format(@team.league) %></td>
        </tr>
        <tr>
          <th score="row">獲得タイトル</th>
          <td><%= simple_format(@team.team_title) %></td>
        </tr>
        <tr>
          <th score="row">チーム結成</th>
          <td><%= @team.since.name %></td>
        </tr>
        <tr>
          <th score="row">活動曜日</th>
          <td><%= @team.activity_day %></td>
        </tr>
        <tr>
          <th score="row">活動ペース</th>
          <td><%= @team.activity_pace.name %></td>
        </tr>
        <tr>
          <th score="row">年間試合数</th>
          <td><%= @team.games_per_year.name %></td>
        </tr>
        <tr>
          <th score="row">チームスローガン</th>
          <td><%= @team.team_slogan %></td>
        </tr>
        <tr>
          <th score="row">チーム紹介</th>
          <td><%= simple_format(@team.introduction) %></td>
        </tr>
      </table>
    </div>
    <%# //チームプロフィール %>

    <%# 選手一覧 %>
    <div class="col-lg-6">
      <h5><%= link_to "選手一覧（最新登録10選手）", team_players_path(@team.team_url), class: "p-2 d-block bg-success text-white" %></h5>
        <div class="row">
          <% @players.each do |player| %>
          <div class="media col-lg-6 p-3 position-relative border">
            <% if player.image.present? %>
              <%= link_to image_tag(player.image, class: "mr-3", size: "100x100"), team_player_path(@team.team_url, player.id), class: "stretched-link" if player.image.attached? %>
            <% else %>
              <%= link_to image_tag('logo.jpg', class: "mr-3", size: "100x100"),team_player_path(@team.team_url, player.id), class: "stretched-link" %>
            <% end %>
            <div class="media-body">
              <div class="border-bottom d-flex">
                <h4 class="mr-3">
                  <%= player.number %>
                </h4>
                <h5>
                <%= player.name %>
                </h5>
              </div>
              <p class="text-center">
                <%= player.main_position.name %><br />（<%= player.at_pitch%>/<%= player.at_bat %>）
              </p>
            </div>
          </div>
          <% end %>
        </div>
        
    </div>
    <%# //選手一覧 %>

    <div class="w-100 m-3"></div>
    
    <%# 試合結果一覧 %>
    <div class="col-lg-6" style="height: mh-100;">
      <h5><%= link_to "試合結果一覧（最新5試合）", team_games_path(@team.team_url), class: "p-2 d-block bg-primary text-white" %></h5>
        <div class="row">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col" width="25%">試合日</th>
                <th scope="col" width="40">対戦相手</th>
                <th scope="col" width="15%">結果</th>
                <th scope="col" width="15%">スコア</th>
              </tr>
            </thead>
            <tbody>
                <% @games.each do |game| %>
                <tr class="text-center">
                  <td class="position-relative"><%= link_to l(game.gameday, format: :default), team_game_path(@team.team_url, game.id), class: "stretched-link" %></td>
                  <td><%= game.opponent %></td>
                  <td class="text-nowrap">
                    <% if game.game_result == "勝ち"%>
                      <p class="d-inline p-2 bg-danger text-white rounded"><%= game.game_result %></p>
                    <% elsif game.game_result == "負け"%>
                      <p class="d-inline p-2 bg-primary text-white rounded"><%= game.game_result %></p>
                    <% elsif game.game_result == "引き分け"%>
                      <p class="d-inline p-2 bg-success text-white rounded"><%= game.game_result %></p>
                    <% else %>
                      <p class="d-inline p-2 bg-dark text-white rounded"><%= game.game_result %></p>
                    <% end %>
                    </td>
                  <td><%= game.game_myteam_score %> - <%= game.game_opponent_score %></td>
                </tr>
                <% end %>
              </tbody>
          </table>
        </div>
    </div>
    <%# //試合結果一覧 %>

    <%# チーム成績 %>
    <div class="col-lg-6">
      <h5><%= link_to "チーム成績（詳細はこちら）", stat_team_path(@team.team_url), class: "p-2 d-block bg-danger text-white" %></h5>
      <div class="table-responsive-sm ">
        <table class="table">
          <thead>
            <tr class="text-center">
              <th scope="col">試合数</th>
              <th scope="col">勝ち</th>
              <th scope="col">負け</th>
              <th scope="col">引分</th>
              <th scope="col">勝率</th>
              <th scope="col">得点</th>
              <th scope="col">失点</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td><%= @game.count %></td>
              <td><%= @game.where(game_result: "勝ち").count %></td>
              <td><%= @game.where(game_result: "負け").count %></td>
              <td><%= @game.where(game_result: "引き分け").count %></td>
              <td><%= sprintf("%.3f",@game.where(game_result: "勝ち").count / @game.count.to_f) %></td>
              <td><%= @game.sum(:game_myteam_score) %></td>
              <td><%= @game.sum(:game_opponent_score) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <%# //チーム成績 %>
  </div>
</div>

<%= render 'shared/footer' %>