<%= render 'shared/header' %>

<div class="container mt-3">

  <div class="col text-center">
    <h3><%= @team.team_name %></h3>
  </div>

  <div class="col">
    <h4>チーム成績</h4>
    <div class="table-responsive-sm">
      <table class="table">
        <thead>
          <tr class="text-center">
            <th scope="col">試合数</th>
            <th scope="col">勝ち</th>
            <th scope="col">負け</th>
            <th scope="col">引分</th>
            <th scope="col">勝率</th>
            <th scope="col">得点</th>
            <th scope="col">失点</th>
            <th scope="col">打率</th>
            <th scope="col">本塁打</th>
            <th scope="col">盗塁</th>
            <th scope="col">防御率</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td><%= @games.count %></td>
            <td><%= @games.where(game_result: "勝ち").count %></td>
            <td><%= @games.where(game_result: "負け").count %></td>
            <td><%= @games.where(game_result: "引き分け").count %></td>
            <td><%= sprintf("%.3f",@games.where(game_result: "勝ち").count / @games.count.to_f) %></td>
            <td><%= @games.sum(:game_myteam_score) %></td>
            <td><%= @games.sum(:game_opponent_score) %></td>
            <td><%= sprintf("%.3f", @b_stats.sum(:hit) / @b_stats.sum(:at_hitting).to_f) %></td>
            <td><%= @b_stats.sum(:homerun) %></td>
            <td><%= @b_stats.sum(:stolen_base) %></td>
            <td><%= sprintf("%.2f", @p_stats.sum(:earned_run) * 7 / @p_stats.sum(:inning).to_f) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <div class="col">
    <h4>個人成績</h4>
    <%= link_to "選手成績の詳細一覧はこちら", ranking_team_path(@team.team_url) %>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr class="text-center">
          <th style="width: 200px;">タイトル</th>
          <th style="width: 300px;">選手名</th>
          <th style="width: 200px;">記録</th>
        </tr>
      </thead>
      <tbody>
        <%# 打者成績ランキング %>
        <% if @b_stats.present? %>
        <tr style="height: 50px;" class="text-center">
          <td style="font-size: 20px;"><i class="fas fa-medal text-danger"></i>首位打者</td>
          <td style="font-size: 22px;" class="position-relative"></td>
          <td style="font-size: 20px;"></td>
        </tr>
        <tr style="height: 50px;" class="text-center">
          <td style="font-size: 20px;"><i class="fas fa-medal text-danger"></i>本塁打王</td>
          <% if @b_stats_p.order('sum_homerun DESC').sum(:homerun).max{ |a, b| a[1] <=> b[1] }[1] != 0%>
            <td style="font-size: 22px;" class="position-relative"><%= link_to @b_stats_p.order('sum_homerun DESC').sum(:homerun).max{ |a, b| a[1] <=> b[1] }[0],\
            team_player_path(@team.team_url, @b_stats.group(:player_id).order('sum_homerun DESC').sum(:homerun).max{ |a, b| a[1] <=> b[1] }[0]), class: "text-decoration-none stretched-link" %></td>
            <td style="font-size: 20px;"><%= @b_stats_p.order('sum_homerun DESC').sum(:homerun).max{ |a, b| a[1] <=> b[1] }[1] %></td>
          <% else %>
            <td style="font-size: 20px;">該当者なし</td>
            <td style="font-size: 20px;">0</td>
          <% end %>
        </tr>
        <tr style="height: 50px;" class="text-center">
          <td style="font-size: 20px;"><i class="fas fa-medal text-danger"></i>打点王</td>
          <% if @b_stats_p.order('sum_run_batted_in DESC').sum(:run_batted_in).max{ |a, b| a[1] <=> b[1] }[1] != 0 %>
            <td style="font-size: 22px;" class="position-relative"><%= link_to @b_stats_p.order('sum_run_batted_in DESC').sum(:run_batted_in).max{ |a, b| a[1] <=> b[1] }[0],\
            team_player_path(@team.team_url, @b_stats.group(:player_id).order('sum_run_batted_in DESC').sum(:run_batted_in).max{ |a, b| a[1] <=> b[1] }[0]), class: "text-decoration-none stretched-link" %></td>
            <td style="font-size: 20px;"><%= @b_stats_p.order('sum_run_batted_in DESC').sum(:run_batted_in).max{ |a, b| a[1] <=> b[1] }[1] %></td>
          <% else %>
            <td style="font-size: 20px;">該当者なし</td>
            <td style="font-size: 20px;">0</td>
          <% end %>
        </tr>
        <tr style="height: 50px;" class="text-center">
          <td style="font-size: 20px;"><i class="fas fa-medal text-danger"></i>盗塁王</td>
          <% if @b_stats_p.order('sum_stolen_base DESC').sum(:stolen_base).max{ |a, b| a[1] <=> b[1] }[1] != 0 %>
            <td style="font-size: 22px;" class="position-relative"><%= link_to @b_stats_p.order('sum_stolen_base DESC').sum(:stolen_base).max{ |a, b| a[1] <=> b[1] }[0],\
            team_player_path(@team.team_url, @b_stats.group(:player_id).order('sum_stolen_base DESC').sum(:stolen_base).max{ |a, b| a[1] <=> b[1] }[0]), class: "text-decoration-none stretched-link" %></td>
            <td style="font-size: 20px;"><%= @b_stats_p.order('sum_stolen_base DESC').sum(:stolen_base).max{ |a, b| a[1] <=> b[1] }[1] %></td>
          <% else %>
            <td style="font-size: 20px;">該当者なし</td>
            <td style="font-size: 20px;">0</td>
          <% end %>
        </tr>
        <% end %>
        <%# //打者成績ランキング %>
        <%# 投手成績ランキング %>
        <% if @p_stats.present? %>
        <tr style="height: 50px;" class="text-center">
          <td style="font-size: 20px;"><i class="fas fa-medal text-danger"></i>最多勝</td>
          <td style="font-size: 22px;" class="position-relative"></td>
          <td style="font-size: 20px;"></td>
        </tr>
        <tr style="height: 50px;" class="text-center">
          <td style="font-size: 20px;"><i class="fas fa-medal text-danger"></i>最多奪三振</td>
          <% if @p_stats_p.order('sum_strikeout').sum(:strikeout).max{ |a, b| a[1] <=> b[1] }[1] != 0 %>
            <td style="font-size: 22px;" class="position-relative"><%= link_to @p_stats_p.order('sum_strikeout DESC').sum(:strikeout).max{ |a, b| a[1] <=> b[1] }[0],\
            team_player_path(@team.team_url, @p_stats.group(:player_id).order('sum_strikeout DESC').sum(:strikeout).max{ |a, b| a[1] <=> b[1] }[0]), class: "text-decoration-none stretched-link" %></td>
            <td style="font-size: 20px;"><%= @p_stats_p.order('sum_strikeout').sum(:strikeout).max{ |a, b| a[1] <=> b[1] }[1] %></td>
          <% else %>
            <td style="font-size: 20px;">該当者なし</td>
            <td style="font-size: 20px;">0</td>
          <% end %>
        </tr>
        <tr style="height: 50px;" class="text-center">
          <td style="font-size: 20px;"><i class="fas fa-medal text-danger"></i>最高勝率</td>
          <td style="font-size: 22px;" class="position-relative"></td>
          <td style="font-size: 20px;"></td>
        </tr>
        <% end %>
        <%# //投手成績ランキング %>
      </tbody>
    </table>
  </div>

</div>

<%= render 'shared/footer' %>
