<%= render 'shared/header' %>

<div class="container mt-3">
  <%# TOPページスライド %>
  <div id="carouselExampleFade" class="carousel slide carousel-fade mt-3" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("top-slide-001.jpg", class: "d-block w-100", width: "800", height: "400") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("top-slide-002.jpg", class: "d-block w-100", width: "800", height: "400") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("top-slide-003.jpg", class: "d-block w-100", width: "800", height: "400") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("top-slide-004.jpg", class: "d-block w-100", width: "800", height: "400") %>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <h2 class="display-4 text-center">Baseball Players</h2>
    <hr>
    <div class="row">
      <div class="col text-center">
        <p class="lead">登録はこちらから</p>
        <button class="btn"><%= link_to "新規チーム登録", new_team_registration_path, class: "new-team btn btn-primary" %></button>
      </div>
      <div class="col text-center">
        <p class="lead">ログインはこちらから</p>
        <button class="btn"><%= link_to "ログイン", team_session_path, class: "login btn btn-secondary" %></button>
      </div>
    </div>
  </div>
    
</div>

<%= render 'shared/footer' %>