<%= render 'shared/header' %>

<div class="container mt-3">
  <h2>チーム新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group row">
      <%= f.label "メールアドレス", class: "col-sm-2" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-sm-6" %>
      <p class="ml-2 badge badge-danger">必須</p>
    </div>

    <div class="form-group row">
      <%= f.label "パスワード", class: "col-sm-2" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-sm-4" %>
      <p class="ml-2 mr-2 badge badge-danger">必須</p>
      <p>6文字以上</p>
    </div>

    <div class="form-group row">
      <%= f.label "パスワード確認用", class: "col-sm-2" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-sm-4" %>
      <p class="ml-2 badge badge-danger">必須</p>
    </div>

    <div class="form-group row">
      <%= f.label "チーム名", class: "col-sm-2" %><br />
      <%= f.text_field :team_name, class: "form-control col-sm-6" %>
      <p class="ml-2 badge badge-danger">必須</p>
    </div>

    <div class="form-group row">
      <%= f.label "チーム名（カナ）", class: "col-sm-2" %><br />
      <%= f.text_field :team_name_kana, class: "form-control col-sm-6" %>
      <p class="ml-2 badge badge-danger">必須</p>
    </div>

    <div class="form-group row">
      <%= f.label "チームURL", class: "col-sm-2 text-uppercase" %><br />
      <%= f.text_field :team_url, class: "form-control col-sm-4" %>
      <p class="ml-2 badge badge-danger">必須</p>
    </div>

    <div class="form-group row">
      <%= f.label "活動拠点" , class: "col-sm-2"%><br />
      <%= f.collection_select(:activity_base_id, ActivityBase.all, :id, :name, {}) %>
      <p class="ml-2 badge badge-danger">必須</p>
    </div>

    <div class="form-group row">
      <%= f.label "チーム区分", class: "col-sm-2" %><br />
      <%= f.collection_select(:team_attribute_id, TeamAttribute.all, :id, :name, {}) %>
      <p class="ml-2 badge badge-danger">必須</p>
    </div>

    <div class="form-group row">
      <%= f.label "チームレベル", class: "col-sm-2" %><br />
      <%= f.collection_select(:team_level_id, TeamLevel.all, :id, :name, {}) %>
    </div>

    <div class="form-group row">
      <%= f.label "チーム平均年齢", class: "col-sm-2" %><br />
      <%= f.collection_select(:team_player_age_id, TeamPlayerAge.all, :id, :name, {}) %>
    </div>

    <div class="form-group row">
      <%= f.label "メンバー野球歴", class: "col-sm-2" %><br />
      <%= f.collection_select(:team_player_history_id, TeamPlayerHistory.all, :id, :name, {}) %>
    </div>

    <div class="form-group row">
      <%= f.label "所属リーグ・団体・連盟等", class: "col-sm-2" %><br />
      <%= f.text_area :league, class: "form-control col-sm-6 overflow-auto", rows: 4 %>
    </div>

    <div class="form-group row">
      <%= f.label "獲得タイトル", class: "col-sm-2" %><br />
      <%= f.text_area :team_title, class: "form-control col-sm-6 overflow-auto", rows: 4 %>
    </div>

    <div class="form-group row">
      <%= f.label "チーム結成", class: "col-sm-2" %><br />
      <%= f.collection_select(:since_id, Since.all, :id, :name, {}) %>
    </div>

    <div class="form-group row">
      <%= f.label "活動曜日", class: "col-sm-2" %><br />
      <% [ "土", "日", "月", "火", "水", "木", "金"].each do |day| %>
        <label class="form-check">
          <%= f.check_box :activity_day, {multiple: true}, day, nil %>
          <%= day %>
        </label>
      <% end %>
    </div>

    <div class="form-group row">
      <%= f.label "活動ペース", class: "col-sm-2" %><br />
      <%= f.collection_select(:activity_pace_id, ActivityPace.all, :id, :name, {}) %>
    </div>

    <div class="form-group row">
      <%= f.label "年間試合数", class: "col-sm-2" %><br />
      <%= f.collection_select(:games_per_year_id, GamesPerYear.all, :id, :name, {}) %>
    </div>

    <div class="form-group row">
      <%= f.label "チームスローガン", class: "col-sm-2" %><br />
      <%= f.text_field :team_slogan, class: "form-control col-sm-6 overflow-auto" %>
    </div>

    <div class="form-group row">
      <%= f.label "チーム紹介", class: "col-sm-2" %><br />
      <%= f.text_area :introduction, class: "form-control col-sm-6 overflow-auto", rows: 8 %>
    </div>

    <div class="custom-file row mb-3">
      <%= f.label "チーム画像", class: "col-sm-2" %>
      <%= f.file_field :image, id: "customFile" %>
    </div>

    <div class="actions">
      <%= f.submit "登録する", class: "col-8 btn btn-primary" %>
    </div>
  <% end %>

</div>

<%= render 'shared/footer' %>