<header class="top-page-header">
<h1><%= link_to image_tag('logo.jpg', class: "logo"), root_path %></h1>
  <% if team_signed_in? %>
    <ul class="top-page-menu">
      <li><%= link_to "マイチームページ", team_path(current_team), class: "mypage btn btn-primary" %></li>
      <li><%= link_to "ログアウト", destroy_team_session_path, method: :delete, class: "logout btn btn-secondary" %></li>
    </ul>
  <% else %>
    <ul class="top-page-menu">
      <li><%= link_to "新規チーム登録", new_team_registration_path, class: "new-team btn btn-primary" %></li>
      <li><%= link_to "ログイン", team_session_path, class: "login btn btn-secondary" %></li>
    </ul>
  <% end %>
</header>
