<header class="top-page-header">
<h1><%= link_to image_tag('logo.jpg', class: "logo"), root_path %></h1>
 <div class="top-page-menu">
    <div class="row second-search">
      <%= form_with(url: search_teams_path, local: true, method: :get) do |form| %>
        <%= form.text_field :keyword, class: "second-search-form", placeholder: "チーム名を入力してください" %>
        <%= form.submit "検索", class: "btn btn-search"%>
      <% end %>
    </div>
    <div class="row second-team-index">
      <%= link_to "チーム一覧", teams_path, class: "btn btn-top-team-index" %>
    </div>
  <% if team_signed_in? %>
    <ul class="top-page-menu">
      <li><%= link_to "新規選手登録", new_team_player_path(@team), class: "btn btn-new-player" %></li>
      <li><%= link_to "新規試合結果登録", new_team_game_path(@team), class: "btn btn-new-game" %></li>
    </ul>
    <ul class="top-page-menu">
      <li><%= link_to "マイチームページ", team_path(current_team), class: "mypage btn btn-primary" %></li>
      <li><%= link_to "ログアウト", destroy_team_session_path, method: :delete, class: "logout btn btn-secondary" %></li>
    </ul>
  <% else %>
    <ul class="top-page-menu">
      <li><%= link_to "新規チーム登録", new_team_registration_path, class: "new-team btn btn-primary" %></li>
      <li><%= link_to "ログイン", team_session_path, class: "login btn btn-secondary" %></li>
    </ul>
  <% end %>
  </div>
</header>