<%= render 'shared/header' %>

<div class="container mt-3">

<h2>試合一覧</h2>
<% if @team == current_team %>
    <%= link_to "試合結果登録", new_team_game_path(@team), class: "btn btn-info mb-2" %>
  <% end %>

  <div class="col">
    <div class="row">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" width="15%">試合日</th>
            <th scope="col" width="15%">試合区分</th>
            <th scope="col" width="40%">対戦相手</th>
            <th scope="col" width="10%">結果</th>
            <th scope="col" width="20%">スコア</th>
          </tr>
        </thead>
        <tbody>
          <% @games.each do |game| %>
            <tr>
              <td class="position-relative"><%= link_to game.gameday, "/teams/#{@team.id}/games/#{game.id}", class: "stretched-link" %></td>
              <td><%= game.game_attribute %></td>
              <td><%= game.opponent %></td>
              <td><%= game.game_result %></td>
              <td><%= game.game_myteam_score %> - <%= game.game_opponent_score %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @games %>
  </div>

  <div class="row d-flex justify-content-around">
    <%= link_to "チームページへ戻る", team_path(@team), class: "btn btn-outline-secondary col-sm-3 m-2" %>
    <%= link_to "トップページへ戻る", root_path, class: "btn btn-outline-info col-sm-3 m-2" %>
  </div>
  
</div>

<%= render 'shared/footer' %>



