<%= render 'shared/header' %>

<div class="container mt-3">

  <div class="row d-flex justify-content-between">
    <h2>試合一覧</h2>
    <% if @team == current_team %>
      <%= link_to "試合結果登録", new_team_game_path(@team), class: "btn btn-info mb-2" %>
    <% end %>
  </div>

  <div class="col text-center">
    <div class="row">
      <table class="table text-nowrap">
        <thead class="thead-dark">
          <tr>
            <th scope="col" width="15%">試合日</th>
            <th scope="col" width="15%">試合区分</th>
            <th scope="col" width="40%">対戦相手</th>
            <th scope="col" width="10%">結果</th>
            <th scope="col" width="15%">スコア</th>
            <th scope="col" width="5%"></th>
          </tr>
        </thead>
        <tbody>
          <% @games.each do |game| %>
          <tr>
            <td class="position-relative"><%= link_to game.gameday, "/teams/#{@team.id}/games/#{game.id}", class: "stretched-link" %></td>
            <td><%= game.game_attribute %></td>
            <td><%= game.opponent %></td>
            <td class="text-nowrap">
            <% if game.game_result == "勝ち"%>
              <p class="d-inline p-2 bg-danger text-white rounded"><%= game.game_result %></p>
            <% elsif game.game_result == "負け"%>
              <p class="d-inline p-2 bg-primary text-white rounded"><%= game.game_result %></p>
            <% elsif game.game_result == "引き分け"%>
              <p class="d-inline p-2 bg-success text-white rounded"><%= game.game_result %></p>
            <% else %>
              <p class="d-inline p-2 bg-dark text-white rounded"><%= game.game_result %></p>
              <% end %>
            </td>
            <td><%= game.game_myteam_score %> - <%= game.game_opponent_score %></td>
            <td><%= link_to "詳細", "/teams/#{@team.id}/games/#{game.id}", class: "btn btn-sm btn-secondary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @games %>
  </div>

  <div class="row d-flex justify-content-around">
    <%= link_to "チームページへ戻る", team_path(@team), class: "btn btn-outline-secondary col-sm-3 m-2" %>
    <%= link_to "トップページへ戻る", root_path, class: "btn btn-outline-info col-sm-3 m-2" %>
  </div>

</div>

<%= render 'shared/footer' %>



