<%= render 'shared/header' %>

<div class="container mt-3">
  <h2>試合結果登録</h2>

  <%= form_with(model: @game, url: team_games_path(@team.team_url), local: true) do |f| %>
    <%= render 'devise/shared/error_messages', resource: @game %>

    <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label "試合日" %>
        <span class="ml-2 badge badge-danger">必須</span>
      </div>
      <%= f.date_field :gameday, class: "form-control col-sm-4" %>
    </div>
    
    <div class="form-group row">
      <%= f.label "試合開始時間", class: "col-sm-3" %>
      <%= f.time_field :gametime, class: "form-control col-sm-4" %>
    </div>

    <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label "対戦相手" %>
        <span class="ml-2 badge badge-danger">必須</span>
      </div>
      <%= f.text_field :opponent, class: "form-control col-sm-6" %>
    </div>

    <div class="form-group row">
      <%= f.label "大会名", class: "col-sm-3" %>
      <%= f.text_field :tournament_name, class: "form-control col-sm-6" %>
    </div>

    <div class="form-group row">
      <%= f.label "球場名", class: "col-sm-3" %>
      <%= f.text_field :field_name, class: "form-control col-sm-6" %>
    </div>

    <div class="form-group row">
      <%= f.label "試合区分", class: "col-sm-3" %>
      <%= f.select(:game_attribute, ["公式戦", "練習試合", "その他"], {include_blank: "選択してください"}) %>
    </div>

    <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label "通算成績に加える" %>
        <span class="ml-2 badge badge-danger">必須</span>
      </div>
      <div class="form-check">
        <label class="pr-2"><%= f.radio_button(:total_stats_add, 'はい') %> はい</label>
        <label class="pr-2"><%= f.radio_button(:total_stats_add, 'いいえ') %> いいえ</label>
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label "スコア" %>
        <span class="ml-2 badge badge-danger">必須</span>
      </div>
      <div class="form-check">
        <label class="pr-2"><%= f.radio_button(:top_or_bottom, '先攻') %>先攻</label>
        <label class="pr-2"><%= f.radio_button(:top_or_bottom, '後攻') %>後攻</label>
        <div class="pt-2">
          自チーム <%= f.number_field :game_myteam_score, class: "score-form", style: "width: 50px;", min: 0 %> 対
          相手チーム <%= f.number_field :game_opponent_score, class: "score-form", style: "width: 50px;", min: 0 %>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label "試合結果" %>
        <span class="ml-2 badge badge-danger">必須</span>
      </div>
      <%= f.select(:game_result, ["勝ち", "負け", "引き分け", "その他"], {include_blank: "選択してください"}) %>
    </div>

    <div class="form-group row">
      <%= f.label "コメント", class: "col-sm-3" %>
      <%= f.text_area :game_comment, class: "col-sm-6", rows: 8 %>
    </div>

    <div class="actions my-3 d-flex justify-content-center">
      <%= f.submit "登録する", class: "col-8 btn btn-primary" %>
    </div>
    
  <% end %>
  
  <div class="row d-flex justify-content-around">
    <%= link_to "試合結果一覧へ戻る", team_games_path(@team.team_url), class: "btn btn-outline-success col-sm-3 m-2" %>
    <%= link_to "チームページへ戻る", team_path(@team.team_url), class: "btn btn-outline-secondary col-sm-3 m-2" %>
    <%= link_to "トップページへ戻る", root_path, class: "btn btn-outline-info col-sm-3 m-2" %>
  </div>

</div>

<%= render 'shared/footer' %>