<%= render 'shared/header' %>

<div class="container mt-3">

  <div class="row">
  <h2>試合結果詳細</h2>
  
    <% if @team == current_team %>
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fas fa-pencil-alt fa-lg" style="color: darkblue"></span>
      </button>
      <div class="dropdown-menu">
        <%= link_to "編集", edit_team_game_path(@team.team_url), class: "dropdown-item" %>
        <%= link_to "削除", team_game_path(@team.team_url),class: "dropdown-item", method: :delete, data: {confirm: "本当に削除してもいいですか？"} %>
      </div>
    </div>
    <% end %>
  </div>

    <div class="col">

    <div class="row justify-content-center">
      <div class="p-2">
      <%= l(@game.gameday, format: :long) %>
      </div>
      <div class="p-2">
      <%= @game.gametime %>
      </div>
      <div class="p-2">
      <%= @game.field_name %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="p-2">
      <%= @game.game_attribute %>
      </div>
      <div class="p-2">
      <%= @game.tournament_name %>
      </div>
    </div>

    <div class="row justify-content-center pt-3">
      <% if @game.top_or_bottom == "先攻"%>
      <h3 class="col-10 text-center">
        <span class="col-4">
          <%= @game.team.team_name %>
        </span>
        <span class="col-2">
          対
        </span>
        <span class="col-4">
          <%= @game.opponent %>
        </span>
      </h3>
      <% else %>
      <h3 class="col-10 text-center">
        <span class="col-4">
          <%= @game.opponent %>
        </span>
        <span class="col-2">
          対
        </span>
        <span class="col-4">
          <%= @game.team.team_name %>
        </span>
      </h3>
      <% end %>
    </div>

    <div class="row justify-content-center">
      <% if @game.top_or_bottom == "先攻" %>
      <h3 class="col-6 text-center">
        <span class="col-2">
          <%= @game.game_myteam_score %>
        </span>
        <span class="col-2">
          ー
        </span>
        <span class="col-2">
          <%= @game.game_opponent_score %>
        </span>
      </h3>
      <% else %>
      <h3 class="col-6 text-center">
        <span class="col-2">
          <%= @game.game_opponent_score %>
        </span>
        <span class="col-2">
          ー
        </span>
        <span class="col-2">
          <%= @game.game_myteam_score %>
        </span>
      </h3>
      <% end %>
    </div>

    <div class="text-center m-2">
      <% if @game.game_result == "勝ち"%>
        <h4 class="d-inline p-2 bg-danger text-white rounded"><%= @game.game_result %></h4>
      <% elsif @game.game_result == "負け"%>
        <h4 class="d-inline p-2 bg-primary text-white rounded"><%= @game.game_result %></h4>
      <% elsif @game.game_result == "引き分け"%>
        <h4 class="d-inline p-2 bg-success text-white rounded"><%= @game.game_result %></h4>
      <% else %>
        <h4 class="d-inline p-2 bg-dark text-white rounded"><%= @game.game_result %></h4>
      <% end %>
    </div>
    
    <div class="card mt-3">
      <div class="card-header">
      コメント：
      </div>
      <div class="card-body">
      <%= simple_format(@game.game_comment) %>
      </div>
    </div>

  </div>

  <div class="row col mt-3">
  <h3>選手個人成績</h3>
    
    <% if @team == current_team %>
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fas fa-pencil-alt fa-lg" style="color: darkblue"></span>
      </button>
      <div class="dropdown-menu">
        <%= link_to "打者成績登録", new_team_game_batting_stat_path(@team.team_url, @game), class: "dropdown-item" %>
        <%= link_to "投手成績登録", new_team_game_pitching_stat_path(@team.team_url, @game), class: "dropdown-item" %>
      </div>
    </div>
    <% end %>
  

    <% if @batting_stats.present? %>
    <div class="overflow-auto">
    <h4 class="mt-4">打者成績</h4>
    <table class="table text-center text-nowrap">
    <thead class="thead-light">
      <tr>
        <th scope="col">背番号</th>
        <th scope="col">選手名</th>
        <th scope="col">出場</th>
        <th scope="col">打順</th>
        <th scope="col">守備位置</th>
        <th scope="col">打席</th>
        <th scope="col">打数</th>
        <th scope="col">安打</th>
        <th scope="col">打点</th>
        <th scope="col">得点</th>
        <th scope="col">盗塁</th>
        <th scope="col">二塁打</th>
        <th scope="col">三塁打</th>
        <th scope="col">本塁打</th>
        <th scope="col">三振</th>
        <th scope="col">四球</th>
        <th scope="col">死球</th>
        <th scope="col">犠打</th>
        <th scope="col">犠飛</th>
        <th scope="col">併殺</th>
        <th scope="col">敵失</th>
        <th scope="col">失策</th>
      </tr>
    </thead>
    <tbody>
      <% @batting_stats.each do |b| %>
      <tr>
        <td><%= b.player.number %></td>
        <td><%= b.player.name %></td>
        <td><%= b.at_field %></td>
        <td><%= b.batting_order %></td>
        <td><%= b.fielding_position %></td>
        <td><%= b.at_standing %></td>
        <td><%= b.at_hitting %></td>
        <td><%= b.hit %></td>
        <td><%= b.run_batted_in %></td>
        <td><%= b.run %></td>
        <td><%= b.stolen_base %></td>
        <td><%= b.double %></td>
        <td><%= b.triple %></td>
        <td><%= b.homerun %></td>
        <td><%= b.strikeout %></td>
        <td><%= b.walk %></td>
        <td><%= b.hit_by_pitch %></td>
        <td><%= b.sacrifice_bunt %></td>
        <td><%= b.sacrifice_fly %></td>
        <td><%= b.double_play %></td>
        <td><%= b.opponent_error %></td>
        <td><%= b.fielding_error %></td>
       </tr>
      <% end %>
    </tbody>
    <tfoot class="thead-light">
      <tr>
        <th scope="col">背番号</th>
        <th scope="col">選手名</th>
        <th scope="col">出場</th>
        <th scope="col">打順</th>
        <th scope="col">守備位置</th>
        <th scope="col">打席</th>
        <th scope="col">打数</th>
        <th scope="col">安打</th>
        <th scope="col">打点</th>
        <th scope="col">得点</th>
        <th scope="col">盗塁</th>
        <th scope="col">二塁打</th>
        <th scope="col">三塁打</th>
        <th scope="col">本塁打</th>
        <th scope="col">三振</th>
        <th scope="col">四球</th>
        <th scope="col">死球</th>
        <th scope="col">犠打</th>
        <th scope="col">犠飛</th>
        <th scope="col">併殺</th>
        <th scope="col">敵失</th>
        <th scope="col">失策</th>
      </tr>
    </tfoot>
    </table>
    </div>
  <% end %>

  <% if @pitching_stats.present? %>
    <div class="overflow-auto mt-4">
    <h4 class="mt-4">投手成績</h4>
    <table class="table text-center text-nowrap">
    <thead class="thead-light">
    <tr>
        <th scope="col">背番号</th>
        <th scope="col">選手名</th>
        <th scope="col">登板順</th>
        <th scope="col">勝敗</th>
        <th scope="col" colspan="2">投球回</th>
        <th scope="col">失点</th>
        <th scope="col">自責点</th>
        <th scope="col">完投</th>
        <th scope="col">完封</th>
        <th scope="col">被安打</th>
        <th scope="col">被本塁打</th>
        <th scope="col">奪三振</th>
        <th scope="col">与四死球</th>
        <th scope="col">ボーク</th>
        <th scope="col">暴投</th>
      </tr>
    </thead>
    <tbody>
      <% @pitching_stats.each do |p| %>
        <tr>
          <td><%= p.player.number %></td> 
          <td><%= p.player.name %></td>
          <td><%= p.pitching_order %></td>
          <td><%= p.win_lose_or_save %></td>
          <td colspan="2"><%= p.inning %>回<%= p.part_of_inning %>/3</td>
          <td><%= p.runs_allowed %></td>
          <td><%= p.earned_run %></td>
          <td><%= p.complete_game %></td>
          <td><%= p.shutout %></td>
          <td><%= p.hit_allowed %></td>
          <td><%= p.homerun_allowed %></td>
          <td><%= p.strikeout %></td>
          <td><%= p.base_on_ball_or_hit_by_pitch %></td>
          <td><%= p.balk %></td>
          <td><%= p.wild_pitch %></td>
        </tr>
        <% end %>
    </tbody>
    <tfoot class="thead-light">
      <tr>
        <th scope="col">背番号</th>
        <th scope="col">選手名</th>
        <th scope="col">登板順</th>
        <th scope="col">勝敗</th>
        <th scope="col" colspan="2">投球回</th>
        <th scope="col">失点</th>
        <th scope="col">自責点</th>
        <th scope="col">完投</th>
        <th scope="col">完封</th>
        <th scope="col">被安打</th>
        <th scope="col">被本塁打</th>
        <th scope="col">奪三振</th>
        <th scope="col">与四死球</th>
        <th scope="col">ボーク</th>
        <th scope="col">暴投</th>
      </tr>
    </tfoot>
    </table>
    </div>
    <% end %>
  </div>

  <div class="row d-flex justify-content-around mt-3">
    <%= link_to "試合一覧へ戻る", team_games_path(@team.team_url), class: "btn btn-outline-success col-sm-3 m-2" %>
    <%= link_to "チームページへ戻る", team_path(@team.team_url), class: "btn btn-outline-secondary col-sm-3 m-2" %>
    <%= link_to "トップページへ戻る", root_path, class: "btn btn-outline-info col-sm-3 m-2" %>
  </div>
</div>

<%= render 'shared/footer' %>