<%= render 'shared/header' %>

<div class="container mt-3">
  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h5 class="alert col-sm-6">
      <%= flash[:alert] %>
    </h5>
   
    <div class="form-group row">
      <%= f.label "メールアドレス", class: "col-sm-3" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-sm-6" %>
    </div>

    <div class="form-group row">
      <%= f.label "パスワード", class: "col-sm-3" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-sm-6" %>
    </div>

    <div class="actions my-3 d-flex justify-content-center">
      <%= f.submit "ログイン", class: "col-8 btn btn-primary" %>
    </div>
  <% end %>

</div>

<%= render 'shared/footer' %>