<%= render 'shared/header' %>

<div class="container mt-3">
  <h2>選手編集</h2>

  <%= form_with(model: @player, url: team_player_path(@player.team.team_url), local: true) do |f| %>
    <%= render 'devise/shared/error_messages', resource: @player %>

    <div class="form-group row"> 
      <div class="col-sm-3">
        <%= f.label "選手名" %>
        <span class="ml-2 badge badge-danger">必須</span>
      </div>
      <%= f.text_field :name, class: "form-control col-sm-6" %>
    </div>
    <hr width="80%" align="left">
    <div class="form-group row">
      <%= f.label "性別", class: "col-sm-3" %><br />
      <label class="form-check pr-2">
        <%= f.radio_button(:sex, '男') %> 男
      </label>
      <label class="form-check pr-2">
        <%= f.radio_button(:sex, '女') %> 女
      </label>
    </div>
    <hr width="80%" align="left">
    <div class="form-group row">
      <%= f.label "生年月日", class: "col-sm-3" %><br />
      <%= f.date_field :birthday, class: "form-control col-sm-4" %>
    </div>
    <hr width="80%" align="left">
    <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label "メインポジション" %>
        <span class="ml-2 badge badge-danger">必須</span>
      </div>
      <%= f.collection_select(:main_position_id, MainPosition.all, :id, :name, {}, class: "col-sm-4 custom-select") %>
    </div>
    <hr width="80%" align="left">
    <div class="form-group row">
      <%= f.label "背番号", class: "col-sm-3" %><br />
      <%= f.number_field :number, class: "form-control col-sm-4", min: 0 %>
    </div>
    <hr width="80%" align="left">
    <div class="form-group row">
      <%= f.label "投打", class: "col-sm-3" %><br />
        <div class="form-check mr-4">
          <%= f.label "投", class: "mr-4" %>
          <label class="pr-2"><%= f.radio_button(:at_pitch, "右")%> 右</label>
          <label class="pr-2"><%= f.radio_button(:at_pitch, "左")%> 左</label>
          <label class="pr-2"><%= f.radio_button(:at_pitch, "両")%> 両</label>
          </div>
        <div class="form-check">
          <%= f.label "打", class: "mr-4" %>
          <label class="pr-2"><%= f.radio_button(:at_bat, "右")%> 右</label>
          <label class="pr-2"><%= f.radio_button(:at_bat, "左")%> 左</label>
          <label class="pr-2"><%= f.radio_button(:at_bat, "両")%> 両</label>
        </div>
    </div>
    <hr width="80%" align="left">
    <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label "サブポジション" %>
        <span class="ml-2 badge badge-secondary">複数選択可</span>
      </div>
      <% ["投手", "捕手", "内野手", "外野手"].each do |sub| %>
        <label class="form-check pr-2">
          <%= f.check_box :sub_position, {multiple: true}, sub, nil %>
          <%= sub %>
        </label>
      <% end %>
    </div>
    <hr width="80%" align="left">
    <div class="form-group row">
      <%= f.label "スキル", class: "col-sm-3"%>
      <table>
      <tr>
        <th>【野手】</th>
        <td>　0~100</td>
      </tr>
      <tr>
        <th>打撃</th>
        <td><%= f.number_field :batting, class: "ml-2 pl-2", max: 100, min: 0 %></td>
      </tr>
      <tr>
        <th>パワー</th>
        <td><%= f.number_field :power, class: "ml-2 pl-2", max: 100, min: 0 %></td>
      </tr>
      <tr>
        <th>走力</th>
        <td><%= f.number_field :running, class: "ml-2 pl-2", max: 100, min: 0 %></td>
      </tr>
      <tr>
        <th>肩力</th>
        <td><%= f.number_field :throwing, class: "ml-2 pl-2", max: 100, min: 0 %></td>
      </tr>
      <tr>
        <th>守備（野手）</th>
        <td><%= f.number_field :fielding, class: "ml-2 pl-2", max: 100, min: 0 %></td>
      </tr>
      </table>
      <table class="ml-3">
      <tr>
        <th>【投手】</th>
        <td>　0~100</td>
      </tr>
      <tr>
        <th>球速</th>
        <td><%= f.number_field :speedball, class: "ml-2 pl-2", max: 100, min: 0 %></td>
      </tr>
      <tr>
        <th>コントロール</th>
        <td><%= f.number_field :control, class: "ml-2 pl-2", max: 100, min: 0 %></td>
      </tr>
      <tr>
        <th>スタミナ</th>
        <td><%= f.number_field :stamina, class: "ml-2 pl-2", max: 100, min: 0 %></td>
      </tr>
      <tr>
        <th>変化球</th>
        <td><%= f.number_field :breakingball, class: "ml-2 pl-2", max: 100, min: 0 %></td>
      </tr>
      <tr>
        <th>守備（投手）</th>
        <td><%= f.number_field :fielding_of_pitcher, class: "ml-2 pl-2", max: 100, min: 0 %></td>
      </tr>
      </table>
    </div>
    <hr width="80%" align="left">
    <div class="form-group row">
      <%= f.label "選手の役職", class: "col-sm-3" %><br />
      <%= f.text_area :player_post, class: "form-control col-sm-6", rows: 3 %>
    </div>
    <hr width="80%" align="left">
    <div class="form-group row">
      <%= f.label "スタッフの役職", class: "col-sm-3" %><br />
      <%= f.text_area :staff_post, class: "form-control col-sm-6", rows: 3 %>
    </div>
    <hr width="80%" align="left">
    <div class="form-group row">
      <%= f.label "野球歴", class: "col-sm-3" %><br />
      <%= f.text_area :carrer, class: "form-control col-sm-6", rows: 4 %>
    </div>
    <hr width="80%" align="left">
    <div class="form-group row">
      <%= f.label "自己紹介", class: "col-sm-3" %><br />
      <%= f.text_area :promotion, class: "form-control col-sm-6", rows: 4 %>
    </div>
    <hr width="80%" align="left">
    <div class="custom-file row mb-3">
      <%= f.label "選手画像", class: "col-sm-3" %>
      <%= f.file_field :image, id: "customFile" %>
    </div>
    <hr width="80%" align="left">
    <div class="actions my-3 d-flex justify-content-center">
      <%= f.submit "登録する", class: "col-8 btn btn-primary" %>
    </div>
  <% end %>

  <div class="row d-flex justify-content-around">
    <%= link_to "選手詳細へ戻る", team_player_path(@team.team_url), class: "btn btn-outline-success col-sm-3 m-2" %>
    <%= link_to "チームページへ戻る", team_path(@team.team_url), class: "btn btn-outline-secondary col-sm-3 m-2" %>
    <%= link_to "トップページへ戻る", root_path, class: "btn btn-outline-info col-sm-3 m-2" %>
  </div>
  
<%= render 'shared/footer' %>