<%= render 'shared/header' %>

<div class="container mt-3">
  <h2>選手一覧</h2>
  <% if @team == current_team %>
    <%= link_to "選手新規登録", new_team_player_path(@team), class: "btn btn-info mb-2" %>
  <% end %>

  <div class="row">
    <% @players.each do |player| %>
      <div class="media col-lg-6 p-3 position-relative border">
        <% if player.image.present? %>
          <%= link_to image_tag(player.image, class: "mr-3", size: "100x100"), "/teams/#{@team.id}/players/#{player.id}", class: "stretched-link" if player.image.attached? %>
        <% else %>
          <%= link_to image_tag('logo.jpg', class: "mr-3", size: "100x100"), "/teams/#{@team.id}/players/#{player.id}", class: "stretched-link" %>
        <% end %>
        <div class="media-body">
          <h5 class="pb-2 border-bottom">
            <%= player.number %>　<%= player.name %>
          </h5>
          <p class="mb-0">
            （<%= player.main_position.name %>)（<%= player.at_pitch%>/<%= player.at_bat %>）
          </p>
          <p class="text-muted mt-0">
            <%= player.player_post %> <%= player.staff_post %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row d-flex justify-content-around">
    <%= link_to "チームページへ戻る", team_path(@team), class: "btn btn-outline-secondary col-sm-3 m-2" %>
    <%= link_to "トップページへ戻る", root_path, class: "btn btn-outline-info col-sm-3 m-2" %>
  </div>

</div>

<%= render 'shared/footer' %>