<%= render 'shared/header' %>

<div class="container mt-3">
  <h2>新規選手登録</h2>

  <%= form_with(model: @player, url: team_players_path, local: true, method: :post) do |f| %>

    <div class="form-group row"> 
      <%= f.label "選手名", class: "col-sm-2" %><br />
      <%= f.text_field :name, class: "form-control col-sm-6" %>
    </div>

    <div class="form-group row">
      <%= f.label "性別", class: "col-sm-2" %><br />
      <div class="form-check">
        <%= f.radio_button(:sex, '男') %> 男
      </div>
      <div class="form-check">
        <%= f.radio_button(:sex, '女') %> 女
      </div>
    </div>

    <div class="form-group row">
      <%= f.label "生年月日", class: "col-sm-2" %><br />
      <%= f.date_field :birthday, class: "form-control col-sm-2", value: "1990-01-01" %>
    </div>

    <div class="form-group row">
      <%= f.label "メインポジション", class: "col-sm-2" %><br />
      <%= f.collection_select(:main_position_id, MainPosition.all, :id, :name, {}) %>
    </div>

    <div class="form-group row">
      <%= f.label "背番号", class: "col-sm-2" %><br />
      <%= f.text_field :number, class: "form-control col-sm-4" %>
    </div>

    <div class="form-group row">
      <%= f.label "投打", class: "col-sm-2" %><br />
        <div class="form-check mr-4">
        
        <%= f.label "投", class: "mr-4" %>
        
          <%= f.radio_button(:at_pitch, "右")%> 右
          <%= f.radio_button(:at_pitch, "左")%> 左
          <%= f.radio_button(:at_pitch, "両")%> 両
        </div>
        <div class="form-check">
        <%= f.label "打", class: "mr-4" %>
       
          <%= f.radio_button(:at_bat, "右")%> 右
          <%= f.radio_button(:at_bat, "左")%> 左
          <%= f.radio_button(:at_bat, "両")%> 両
        </div>
    </div>

    <div class="form-group row">
      <%= f.label "サブポジション", class: "col-sm-2" %><br />
      <% ["投手", "捕手", "内野手", "外野手"].each do |sub| %>
      <div class="form-check">
        <%= f.check_box :sub_position, {multiple: true}, sub, nil %>
        <%= sub %>
      </div>
      <% end %>
    </div>

    <div class="form-group row">
      <%= f.label "選手の役職", class: "col-sm-2" %><br />
      <%= f.text_area :player_post, class: "form-control col-sm-6" %>
    </div>

    <div class="form-group row">
      <%= f.label "スタッフの役職", class: "col-sm-2" %><br />
      <%= f.text_area :staff_post, class: "form-control col-sm-6" %>
    </div>

    <div class="form-group row">
      <%= f.label "野球歴", class: "col-sm-2" %><br />
      <%= f.text_area :carrer, class: "form-control col-sm-6" %>
    </div>

    <div class="form-group row">
      <%= f.label "自己紹介", class: "col-sm-2" %><br />
      <%= f.text_area :promotion, class: "form-control col-sm-6" %>
    </div>

    <div class="actions">
      <%= f.submit "登録する", class: "col-8 btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to "チームへ戻る", team_path(@team)%>
  <%= link_to "トップページへ戻る", root_path %>

</div>

<%= render 'shared/footer' %>