<%= render 'shared/header' %>

<div class="container mt-3">

    <% if @team == current_team %>
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fas fa-pencil-alt fa-lg" style="color: darkblue"></span>
      </button>
      <div class="dropdown-menu">
        <%= link_to "編集", edit_team_player_path(@player.team.team_url), class: "dropdown-item" %>
        <%= link_to "削除", team_player_path(@player.team.team_url),class: "dropdown-item", method: :delete, data: {confirm: "本当に削除してもいいですか？"} %>
      </div>
    </div>
    <% end %>

  <div class="row  d-flex justify-content-center">
  <%# 選手画像の表示 %>
    <div class="col-lg-3 col-sm-4 text-center">
    <% if @player.image.present? %>
      <%= image_tag(@player.image, class: "m-2", size: "150x150") if @player.image.attached? %>
    <% else %>
      <%= image_tag('logo.jpg', class: "m-2", size: "150x150") %>
    <% end %>
    </div>
  <%# //選手画像の表示 %>

  <%# 選手名、背番号、ポジション、投打 %>
    <div class="col-lg-7 col-sm-6 text-center">
      <h2><%= @player.number %></h2>
      <h3><%= @player.name %></h3>
        <div class="progress">
          <div class="progress-bar bg-dark" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="pt-2">
          <%= @player.main_position.name %> ／ <%= @player.at_pitch %>／<%= @player.at_bat %>
        </div>
    </div>
  <%# //選手名、背番号、ポジション、投打 %>
  </div>

  <div class="row d-flex justify-content-center">
  <%# レーダーチャート（野手） %>
    <div class="col-lg-4 col-sm-4">
    <canvas id="radar-chart-batter" width="200" height="100" class="m-2"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    </div>
  <%# レーダーチャート（野手） %>
  
  <%# レーダーチャート（投手） %>
    <div class="col-lg-4 col-sm-4">
    <canvas id="radar-chart-pitcher" width="200" height="100" class="m-2"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    </div>
  <%# レーダーチャート（投手） %>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-sm-10 text-center">
      <table class="table table-bordered">
        <tr>
          <th scope="row" style="width: 200px;">所属チーム</th>
          <td><%= @player.team.team_name %></td>
        </tr>
        <tr>
          <th scope="row">選手名</th>
          <td><%= @player.name %></td>
        </tr>
        <tr>
          <th scope="row">性別</th>
          <td><%= @player.sex %></td>
        </tr>
        <tr>
          <th scope="row">生年月日</th>
          <td><%= l(@player.birthday, format: :default) %></td>
        </tr>
        <tr>
          <th scope="row">メインポジション</th>
          <td id="main-position"><%= @player.main_position.name %></td>
        </tr>
        <tr>
          <th scope="row">背番号</th>
          <td><%= @player.number %></td>
        </tr>
        <tr>
          <th scope="row">投／打</th>
          <td><%= @player.at_pitch %> / <%= @player.at_bat %></td>
        </tr>
        <tr>
          <th scope="row">サブポジション</th>
          <td><%= @player.sub_position %></td>
        </tr>
        <tr>
          <th scope="row">選手の役職</th>
          <td><%= simple_format(@player.player_post) %></td>
        </tr>
        <tr>
          <th scope="row">スタッフの役職</th>
          <td><%= simple_format(@player.staff_post) %></td>
        </tr>
        <tr>
          <th scope="row">野球歴</th>
          <td><%= simple_format(@player.carrer) %></td>
        </tr>
        <tr>
          <th scope="row">自己紹介</th>
          <td><%= simple_format(@player.promotion) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-sm-10">
    <h3>個人成績</h3>
    <% if @batting_stats.present? %>
    <h4 class="mt-4">打者成績</h4>
    <div class="overflow-auto">
    <table class="table text-center text-nowrap">
    <thead class="thead-light">
      <tr>
        <th scope="col">試合数</th>
        <th scope="col">打席</th>
        <th scope="col">打数</th>
        <th scope="col">安打</th>
        <th scope="col">打率</th>
        <th scope="col">打点</th>
        <th scope="col">得点</th>
        <th scope="col">出塁率</th>
        <th scope="col">盗塁</th>
        <th scope="col">二塁打</th>
        <th scope="col">三塁打</th>
        <th scope="col">本塁打</th>
        <th scope="col">長打率</th>
        <th scope="col">OPS</th>
        <th scope="col">三振</th>
        <th scope="col">四球</th>
        <th scope="col">死球</th>
        <th scope="col">犠打</th>
        <th scope="col">犠飛</th>
        <th scope="col">併殺</th>
        <th scope="col">敵失</th>
        <th scope="col">失策</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @batting_stats.count %></td>
        <td><%= @batting_stats.sum(:at_standing) %></td>
        <td><%= @batting_stats.sum(:at_hitting) %></td>
        <td><%= @batting_stats.sum(:hit) %></td>
        <td><%= @batting_average %></td>
        <td><%= @batting_stats.sum(:run_batted_in) %></td>
        <td><%= @batting_stats.sum(:run) %></td>
        <td><%= @batting_on_base_percentage %></td>
        <td><%= @batting_stats.sum(:stolen_base) %></td>
        <td><%= @batting_stats.sum(:double) %></td>
        <td><%= @batting_stats.sum(:triple) %></td>
        <td><%= @batting_stats.sum(:homerun) %></td>
        <td><%= @batting_slugging_percentage %></td>
        <td><%= @batting_on_base_plus_slugging %></td>
        <td><%= @batting_stats.sum(:strikeout) %></td>
        <td><%= @batting_stats.sum(:walk) %></td>
        <td><%= @batting_stats.sum(:hit_by_pitch) %></td>
        <td><%= @batting_stats.sum(:sacrifice_bunt) %></td>
        <td><%= @batting_stats.sum(:sacrifice_fly) %></td>
        <td><%= @batting_stats.sum(:double_play) %></td>
        <td><%= @batting_stats.sum(:opponent_error) %></td>
        <td><%= @batting_stats.sum(:fielding_error) %></td>
       </tr>
    </tbody>
    <tfoot class="thead-light">
      <tr>
        <th scope="col">試合数</th>
        <th scope="col">打席</th>
        <th scope="col">打数</th>
        <th scope="col">安打</th>
        <th scope="col">打率</th>
        <th scope="col">打点</th>
        <th scope="col">得点</th>
        <th scope="col">出塁率</th>
        <th scope="col">盗塁</th>
        <th scope="col">二塁打</th>
        <th scope="col">三塁打</th>
        <th scope="col">本塁打</th>
        <th scope="col">長打率</th>
        <th scope="col">OPS</th>
        <th scope="col">三振</th>
        <th scope="col">四球</th>
        <th scope="col">死球</th>
        <th scope="col">犠打</th>
        <th scope="col">犠飛</th>
        <th scope="col">併殺</th>
        <th scope="col">敵失</th>
        <th scope="col">失策</th>
      </tr>
    </tfoot>
    </table>
    </div>
  <% end %>

  <% if @pitching_stats.present?%>
  <h4 class="mt-4">投手成績</h4>
  <div class="overflow-auto">
    <table class="table text-center text-nowrap">
    <thead class="thead-light">
    <tr>
        <th scope="col">試合数</th>
        <th scope="col">勝</th>
        <th scope="col">負</th>
        <th scope="col">S</th>
        <th scope="col" colspan="2">投球回</th>
        <th scope="col">失点</th>
        <th scope="col">自責点</th>
        <th scope="col">防御率</th>
        <th scope="col">勝率</th>
        <th scope="col">完投</th>
        <th scope="col">完封</th>
        <th scope="col">被安打</th>
        <th scope="col">被本塁打</th>
        <th scope="col">奪三振</th>
        <th scope="col">奪三振率</th>
        <th scope="col">与四死球</th>
        <th scope="col">ボーク</th>
        <th scope="col">暴投</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @pitching_stats.count %></td>
          <td><%= @pitching_stats.where(win_lose_or_save: "勝").count %></td>
          <td><%= @pitching_stats.where(win_lose_or_save: "負").count %></td>
          <td><%= @pitching_stats.where(win_lose_or_save: "S").count %></td>
          <td colspan="2"><%= @pitching_stats.sum(:inning) + ( @pitching_stats.sum(:part_of_inning) / 3 ) %>回<%= @pitching_stats.sum(:part_of_inning) % 3 %>/3</td>
          <td><%= @pitching_stats.sum(:runs_allowed) %></td>
          <td><%= @pitching_stats.sum(:earned_run) %></td>
          <td><%= @pitching_earned_run_average %></td>
          <td><%= @pitching_win_average %></td>
          <td><%= @pitching_stats.where(complete_game: "○").count %></td>
          <td><%= @pitching_stats.where(shutout: "○").count %></td>
          <td><%= @pitching_stats.sum(:hit_allowed) %></td>
          <td><%= @pitching_stats.sum(:homerun_allowed) %></td>
          <td><%= @pitching_stats.sum(:strikeout) %></td>
          <td><%= @pitching_strikeout_average %></td>
          <td><%= @pitching_stats.sum(:base_on_ball_or_hit_by_pitch) %></td>
          <td><%= @pitching_stats.sum(:balk) %></td>
          <td><%= @pitching_stats.sum(:wild_pitch) %></td>
        </tr>
    </tbody>
    <tfoot class="thead-light">
      <tr>
        <th scope="col">試合数</th>
        <th scope="col">勝</th>
        <th scope="col">負</th>
        <th scope="col">S</th>
        <th scope="col" colspan="2">投球回</th>
        <th scope="col">失点</th>
        <th scope="col">自責点</th>
        <th scope="col">防御率</th>
        <th scope="col">勝率</th>
        <th scope="col">完投</th>
        <th scope="col">完封</th>
        <th scope="col">被安打</th>
        <th scope="col">被本塁打</th>
        <th scope="col">奪三振</th>
        <th scope="col">奪三振率</th>
        <th scope="col">与四死球</th>
        <th scope="col">ボーク</th>
        <th scope="col">暴投</th>
      </tr>
    </tfoot>
    </table>
    </div>
  <% end %>
    </div>
  </div>
    
  <div class="row d-flex justify-content-around mt-3">
    <%= link_to "選手一覧へ戻る", team_players_path(@team.team_url), class: "btn btn-outline-success col-sm-3 m-2" %>
    <%= link_to "チームページへ戻る", root_path, class: "btn btn-outline-secondary col-sm-3 m-2" %>
    <%= link_to "トップページへ戻る", root_path, class: "btn btn-outline-info col-sm-3 m-2" %>
  </div>
  
</div>

<%= render 'shared/footer' %>
